<%- include('partials/_header') %>

    <span style="font-family: 'Raleway', sans-serif; font-size: 40pt; display: flex; justify-content: center; align-items: center; height: 600px; color: white">
        Tu viaje comienza aqui
    </span>

    <a href="/catalogo" class="btn btn-primary" type="button" style="font-family: 'Raleway', sans-serif; font-size: 20pt; position: absolute; top: 54%; left: 42%; border-radius: 30px;">Ver catalogo completo</a>

<%- include('partials/_footer') %>